h1
{
	color: #9e3f3f;
	text-align: center;
	padding-top:100px;
}

legend
{
	font-family:"Open Sans Condensed", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:3em;
	color: #686868;
	font-weight: bold;
	text-align: center;
	padding-top:50px;
}

textarea
{	
	background-color:#FFF;
	color: #9e3f3f;
	font-family: "Quicksand", Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
	position: relative;
	margin:0 auto;
	border-radius: 4px;
	/*top: 25%;
	left: 25%;*/
}


input
{
	position: relative;
	top: 50%;
	left: 50%;
	background-color: #215e3f;
	color: #686868;
}



.form-control-2 {
	position: relative;
	font-family:"Quicksand",Helvetica,sans-serif;
	left: 30%;
	display: block;
	width: 40%%;
	height: 34px;
	padding: 6px 12px;
	font-size: 16px;
	padding:6px 12px;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	background-color:#FFF;
	color: #686868;
}

#story-form{
	width:100%;
	text-align:center;
}